body {
    margin: 0;
    padding: 0;
    background-image: url('soccerball.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-form {
    background: rgba(255, 255, 255, 0.7); /* Transparent white background */
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.signup-form h2 {
    margin: 0;
    padding: 0;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    text-decoration: none;
    color: #007bff;
}

.login-link a:hover {
    text-decoration: underline;
}
